input {
  border-style: solid;
  bottom: 620px;
  left: 440px;
  position: absolute;
}

.img2 {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  width: 200px;
  top: 50px;
}

.searchbtn {
  bottom: 620px;
  left: 910px;
  position: absolute;
}
